ADMINPAY_URL=https://adminpay1.net/dashboard
ADMINPAY_USERNAME=lionbet
ADMINPAY_PASSWORD=Chote73@
GMAIL_APP_PASSWORD=qjwm przz iwuf rdrq
GMAIL_ADDRESS=sundaramkr90@gmail.com
CHECK_INTERVAL=5000
PORT=3000
